<div class="row">
    <div class="col-8">
        <h2>{{course.title}}</h2>
        <h6>Author: {{course.author}}</h6>
        <p>{{course.desc}}</p>
    </div>

    <div class="col-4">
        <img src={{course.img}} alt="{{course.title}}" style='width:100%'>
        <a href="#" class="btn btn-primary d-block w-50 m-auto mt-2 mb-2">Buy
            Now</a>
        <a href="#" class="btn btn-danger d-block w-50 m-auto mt-2 mb-2">Check
            Out</a>
    </div>
</div>
